<?xml version="1.0" encoding="UTF-8"?>
<!--suppress SpringSecurityFiltersConfiguredInspection -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/security
       http://www.springframework.org/schema/security/spring-security.xsd">


    <security:http pattern="/authenticate" security="none"/>

    <security:http pattern="/**"
                   entry-point-ref="unauthorizedEntryPoint"
                   create-session="stateless"
                   realm="Protected API">
        <security:custom-filter ref="authenticationProcessingFilter" position="FORM_LOGIN_FILTER"/>
        <security:intercept-url pattern="/**" access="ROLE_ADMIN"/>
    </security:http>

    <bean id="authenticationProcessingFilter" class="com.brn.homebrew.security.AuthenticationProcessingFilter">
    </bean>

    <bean id="unauthorizedEntryPoint" class="com.brn.homebrew.security.UnauthorizedEntryPoint">
    </bean>

    <security:authentication-manager alias="authenticationManager">
        <security:authentication-provider>
            <security:user-service>
                <security:user name="bruno" password="bruno" authorities="ROLE_ADMIN"/>
                <security:user name="username" password="password" authorities="ROLE_ADMIN"/>
                <security:user name="user" password="userPassword" authorities="ROLE_USER"/>
            </security:user-service>
        </security:authentication-provider>
    </security:authentication-manager>

</beans>